#canvas {
    width: 600px;
    height: 600px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#detail-pane {
    display: inline-block;
    width: 300px;
    margin: 0 30px;
    vertical-align: top;
}

.shape {
    cursor: pointer;
    position: absolute;
}

.rectangle {
    background-color: green;
}

.square {
    background-color: red;
}

.circle {
    background-color: purple;
    border-radius: 50%;
}

.triangle {
    border-width: 0;
    border-color: transparent;
    border-bottom-color: yellow;
    border-style: solid;
}
