@dimension: 3em;
@border-color: black;
@margin: 0.2em;

.die {
    width: @dimension;
    height: @dimension;
    font-size: 5em;
    margin: @margin;
    float: left;
    text-align: center;
    border: 2px solid @border-color;
    line-height: @dimension;
    vertical-align: middle;
    cursor: pointer;
}